.x-input-form {
  /*border-radius: 10px;
  background-color: #fff;
  padding: 15px;*/
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.x-input-form input {
  max-width: 400px;
}

.x-input-form .addl-info
, .ft-error {
  margin-bottom: 15px;
}

.ft-error {
  padding: 15px;
}

.input-error {
  border: 2px solid #fb4f4f;
}

footer {
  background-color: #464C51;
  color: #fff;
  min-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  /*
  padding-top: 15px;
  
  
  */
}