.x-input-form {
  /*border-radius: 10px;
  background-color: #fff;
  padding: 15px;*/
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.x-input-form input {
  max-width: 400px;
}

.x-input-form .addl-info
, .ft-error {
  margin-bottom: 15px;
}

.input-error {
  border: 2px solid #fb4f4f;
}